<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-head"></div>
    <div th:replace="fragments/footer :: footer-head"></div>

</head>
<body style="background-image: url(../images/back.png)">

<div th:replace="fragments/header :: header"></div>

<div class="container" style="background-color: white;">

    <div class="jumbotron">
        <h1 th:text="#{header}">Поиск логов сервера</h1>
        <img style="float:right" th:src="@{/images/logo.png}" alt="siblion">
    </div>

    <div>
        <form action="#" th:action="@{/logSearch}" th:object="${searchInfo}" method="post">

            <h3><label class="label label-primary" th:text="#{regex}">Введите регулярное выражение</label></h3>
            <input type="text" th:field="*{regularExpression}"><br>

            <div class=".col-md-6">
                <h3><label class="label label-primary" th:text="#{intervals}">Выберите временные промежутки</label>
                </h3>
                <table class="table table-bordered">
                    <thead>
                    <tr class="row">
                        <th th:if="*{!dateIntervals.isEmpty()}">#</th>
                        <th th:text="#{from}" th:if="*{!dateIntervals.isEmpty()}">Variety</th>
                        <th th:text="#{to}" th:if="*{!dateIntervals.isEmpty()}">Seeds per cell</th>
                        <th>
                            <button type="submit" name="addRow" th:text="#{addRow}">Add row</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowStat : *{dateIntervals}" class="row">
                        <td th:text="${rowStat.count}">1</td>
                        <td>
                            <input type="datetime-local" th:field="*{dateIntervals[__${rowStat.index}__].dateFrom}"
                                   th:errorclass="fieldError"/>
                        </td>
                        <td>
                            <input type="datetime-local" th:field="*{dateIntervals[__${rowStat.index}__].dateTo}"
                                   th:errorclass="fieldError"/>
                        </td>
                        <td>
                            <button type="submit" name="removeRow" th:value="${rowStat.index}"
                                    th:text="#{removeRow}">
                                Remove row
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3><label class="label label-primary" th:text="#{location}">Введите расположение логов</label></h3>
            <input type="text" th:field="*{location}"><br>

            <h3><label class="label label-primary" th:text="#{realization}">Сохранить результат в файл?</label></h3>
            <input type="radio" th:field="*{realization}" th:value="true" th:text="#{yes}"><br>
            <input type="radio" th:field="*{realization}" th:value="false" th:text="#{no}"><br>

            <h3><label class="label label-primary" th:text="#{extension}">Выберите расширение запрошенного
                файла</label>
            </h3>
            <select th:field="*{fileExtension}">
                <option th:each="fileExtension : ${allExtensions}"
                        th:value="${fileExtension}"
                        th:text="#{${'searchInfo.' + fileExtension}}">
                </option>
            </select><br>

            <button style="margin: 10px" type="submit" class="btn btn-lg btn-success">Search</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>